#dynamicDisplay{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.movieContainer {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
}

.movieContainer h2 {
  margin-top: 0;
}

.movieContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.movieContainer button {
  background-color: #db3434;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}
