#dynamicDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.movieContainer {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
}

.movieContainer h2 {
  margin-top: 0;
}

.movieContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.movieContainer button {
  background-color: #db3434;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

#comment-button {
  background-color: #000;
}

/* modal */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-image {
  margin: auto;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #f00;
  text-decoration: none;
  cursor: pointer;
}

.comment-form-modal {
  display: flex;
  flex-direction: column;
}

.comment-form-modal > input,
textarea {
  margin-bottom: 2%;
  padding: 10px;
  border-radius: 8px;
  outline: none !important;
  border: 1px solid red;
}

.comment-form-modal > button {
  width: 10%;
  margin: auto;
}
